.user-div{
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   border-radius: 10px;
   padding: 10px;
   line-height: 30px;
   display: inline-block;
   margin: 40px;
   background-image: linear-gradient(45deg, #edadad, transparent);
    
}

h1 {
    font-size: 2em;
    color: royalblue;
    font-weight: 800;
  }
  h1::before{
    content: "";
    display: block;
    width: 0%;
    height: 5px;
    background-color: red;
    border-radius: 20%;
    margin: 10px 5px;
  }
  h1::after{
    content: "";
    display: block;
    width: 0%;
    height: 5px;
    background-color: red;
    border-radius: 20%;
    margin: 10px 5px;
  }

  h1:hover::before{
    width: 40%;
    animation-name: before;
    animation-duration: 0.8s;
  }
  h1:hover::after{
    width: 60%;
    animation-name: after;
    animation-duration: 1s;
  }
 

  @keyframes after {
    0%   {width: 0%;}
    25%  {width: 50%;}
    50%  {width: 100%;}
    100% {width: 60%;}
  }
  @keyframes before {
    0%   {width: 0%;}
    25%  {width: 70%;}
    50%  {width: 100%;}
    100% {width: 40%;}
  }
  